<html>
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body>
    <div th:replace="~{fragmentos :: head}"></div>

    Olá <span th:text="${nome}">João</span>!
    <div th:text="${nome}">João</div>
    <h1 th:text="${nome}">João</h1>

    <th:block th:switch="${status}">
        <div th:case="'AGUARDANDO'" class="amarelo">Nome do Produto</div>
        <div th:case="'APROVADO'" class="verde">Nome do Produto</div>
        <div th:case="'ENTREGUE'" class="azul">Nome do Produto</div>
    </th:block>
</body>
</html>